$color-white: #fff;
$color-black: #000;
$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;
$color-grey-light-1: #F9F7F6;
$color-grey-light-2: #aaa;
$color-primary: #B32ECC;
$color-primary-dark: #9701B2;
$color-secondary: #FFBB00;
$color-secondary-dark: #B28E29;
$color-tertiary: #10FFB9;
$color-tertiary-dark: #3DFFC2;

$font-primary: 'Nunito', sans-serif;
$font-display : 'Josefin Sans', sans-serif;