.main-title {
  text-align: center; }

.nav {
  position: relative;
  background-color: #000; }
  .nav__ul {
    display: flex;
    padding: 2rem 3rem;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .nav__ul-link {
      flex: 1 1 20%; }
      .nav__ul-link a {
        color: #fff !important;
        text-decoration: none; }
      .nav__ul-link:hover {
        color: #585858; }

.signup {
  display: flex;
  justify-content: center; }
  .signup__form {
    border: solid 1px #000;
    border-radius: 10px;
    padding: 20px;
    align-self: center; }
    .signup__form-input {
      width: 100%;
      display: block;
      padding: 5px; }
    .signup__form-button {
      padding: 5px;
      margin-top: 10px;
      color: #fff;
      background-color: green; }
      .signup__form-button--out {
        background-color: red;
        margin-top: 0;
        width: 5rem; }
  .signup__link {
    text-align: center; }

.res__table {
  width: 80%; }
  .res__table_row > th, .res__table td {
    padding: 1rem; }
  .res__table_row > th {
    height: 2rem; }

table, th, td {
  border: 1px solid black; }
